<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	
	<select id="getData" parameterType="int" resultType="com.gura.spring02.member.dto.MemberDto">
		SELECT num, name, addr
		FROM member
		WHERE num=#{num}
	</select>
	
	<update id="update" parameterType="com.gura.spring02.member.dto.MemberDto">
		UPDATE member
		SET name=#{name}, addr=#{addr}
		WHERE num=#{num}
	</update>

	<!-- Dao 에서 불러다 사용하는법 session.delete("member.delete",3) -->
	<delete id="delete" parameterType="int">
		DELETE FROM member
		WHERE num=#{num}
	</delete>

	<select id="getlist" resultType="com.gura.spring02.member.dto.MemberDto">
	<!-- select 된 row 하나를 어떤 type 에 담을지 결정하는것이 resultType 이다. -->
		SELECT num, name, addr
		FROM member
		ORDER BY num ASC
	</select>

	<insert id="insert" parameterType="com.gura.spring02.member.dto.MemberDto">
	<!-- MemberDto 의 필드명과 같으면 자동으로 binding 된다. -->
		INSERT INTO member
		(num, name, addr)
		VALUES(member_seq.NEXTVAL, #{name}, #{addr})
	</insert>
	
	
</mapper>